//Colors
$main-color: #0889cb;
$hover-color: #009639;
$click-color: #07642a;
$gray: #f5f5f5;
$yellow: #fde950;

//Fonts
$font-light: 'brandon_textlight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-regular: 'brandon_text_regularregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-medium: 'brandon_textmedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'brandon_grotesquebold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
